/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}
/* On fixe la hauteur du header */
header {
  height: 79px;
}
/* On passe le nav en flex row et on aligne les items au centre pour occuper la largeur */
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* On met un padding de 30 au logo comme sur la maquette */
nav img {
  padding-top: 30px;
}
/* on passe le menu avec les 2 liens en flex et corrige l'alignement en haut et le gap comme la maquette */
.menu {
  display: flex;
  gap: 68px;
  height: 35px;
}

.menu a {
  font-weight: normal;
  font-size: 1rem;
  color: #000000;
  align-self: flex-end;
}

.menu span {
  display: flex;
  height: 35px;
  line-height: 18.78px;
  border-top: solid 2px white;
}

.menu span:hover {
  border-top: solid 2px var(--main-color);
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

/* On passe la zone search en flex column */
.search {
  height: 281px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* On passe la search bar en flex pour gerer les 3 elements */
.search-bar {
  display: flex;
  width: 28%;
  height: 49px;
  background: var(--main-bg-color);
  border-radius: 15px;
  min-width: 370px;
}
/* On enleve la bordure par defaut de l'input de recherche et on le stylise */
.search-bar input {
  border: none;
  width: 55%;
  height: 49px;
  font-size: 1.125rem;
  font-weight: bold;
  color: black;
  text-indent: 20px;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
}

/* On retire la bordure noire au focus */
.search-bar input:focus {
  outline: 0;
}

.search-bar button {
  cursor: pointer;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar ::placeholder {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  color: black;
}

/* On definis la taille de police et l'espacement avec le texte selon la maquette */

.headline h1 {
  font-size: 1.375rem;
  margin: 0;
  padding-bottom: 8px;
}

.headline p {
  font-size: 1rem;
  margin: 0;
}
/* On fais le style de la zone avec l'icone */
.geo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 49px;
  background: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
}

/* On travaille le style du button */
.search button {
  width: 36%;
  height: 49px;
  border: none;
  background-color: var(--main-color);
  border-radius: 0px 15px 15px 0px;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
/* On passe la zone en flex pour placer les boutons */
.filtres {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
}
.filtres p,
.filtres a {
  font-weight: bold;
  font-size: 1.063rem;
}

.filtres span,
.filtres a {
  font-weight: bold;
  font-size: 1.125rem;
}

/* On fais le style des boutons */
.filter-button {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 50px;
  width: 13%;
  min-width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filter-button:hover {
  background: #deebff;
}

/* on passe la zone infos en flex pour placer l'icone et le texte */
.infos {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 10px;
}
/* On stylise la case de l'icone info */
.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.info-icon p {
  font-size: 1rem;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: bold;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 30px;
  width: 65%;
}

.hebergements-showmore a {
  font-size: 1.125rem;
  font-weight: bold;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 8px;
}

.hebergements-cards h3 {
  margin: 0;
}

.hebergements-cards a {
width: 100%;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.activites {
  display: flex;
  flex-direction: column;
  padding: 35px 0 35px 0;
}

.activites-cards {
  display: flex;
  box-sizing: border-box;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.activites-cards a {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
}

.activites-cards img {
  width: 100%;
  min-height: 380px;
  border-radius: 20px 20px 0px 0px;
  height: 380px;
}

.activites-cards .card-title {
  padding-left: 19px;
}

.activites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0 30px;
}

.activites-title h2 {
  margin: 0;
}

/* On definis la hauteur et la couleur de la zone footer */
footer {
  height: 163px;
  background: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
}

footer h3 p {
  padding: 0 0 0 20px;
  margin: 0;
}

footer h3 {
  font-size: 1.125rem;
  padding: 20px 0 0 20px;
  margin: 0;
}

footer a {
  font-size: medium;
  font-weight: normal;
  padding-left: 20px;
}

footer li {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

footer ul {
  padding: 0;
  margin: 15px 0 20px 0;
}

.apropos {
  width: 33%;
}

.noshebergements {
  width: 33%;
}

.assistance {
  width: 33%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-cards img {
    height: 200px;
    min-height: 0;
  }


}

/* Small devices (phones, less than 768px) */

@media (max-width: 768px) {
  .hebergements-cards {
    grid-template-columns: 1fr;
  }
}
