/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}
/* On fixe la hauteur du header */
header {
  height: 79px;
}
/* On passe le nav en flex row et on aligne les items au centre pour occuper la largeur */
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* On met un padding de 30 au logo comme sur la maquette */
nav img {
  padding-top: 30px;
}
/* on passe le menu avec les 2 liens en flex et corrige l'alignement en haut et le gap comme la maquette */
.menu {
  display: flex;
  padding: 0 50px;
  gap: 68px;
  align-self: flex-start;
  padding-top: 16px;
}

.menu a {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

/* On passe la zone search en flex column */
.search {
  height: 281px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* On passe la search bar en flex pour gerer les 3 elements */
.search-bar {
  display: flex;
  width: 377px;
  height: 49px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
}
/* On enleve la bordure par defaut de l'input de recherche et on le stylise */
.search-bar input {
  border: none;
  width: 195px;
  height: 49px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-indent:20px;
}

/* On retire la bordure noire au focus */
.search-bar input:focus {
  outline: 0;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar ::placeholder {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: black;
}

/* On definis la taille de police et l'espacement avec le texte selon la maquette */

.headline h1 {
  font-size: 22px;
  margin: 0;
  padding-bottom: 8px;
}

.headline p {
  font-size: 16px;
  margin: 0;
}
/* On fais le style de la zone avec l'icone */
.geo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 49px;
  background: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

/* On travaille le style du button */
.search button {
  width: 132px;
  height: 49px;
  border: none;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
}
/* On passe la zone en flex pour placer les boutons */
.filtres {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
}
.filtres p,
a {
  font-weight: 700;
  font-size: 17px;
}

.filtres span,
a {
  font-weight: 700;
  font-size: 18px;
}

/* On fais le style des boutons */
.filter-button {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 50px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* on passe la zone infos en flex pour placer l'icone et le texte */
.infos {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 10px;
}
/* On stylise la case de l'icone info */
.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.info-icon p {
  font-weight: 400;
  font-size: 16px;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.activites {
  height: 559.02px;
  border: 1px solid red;
}
/* On definis la hauteur et la couleur de la zone footer */
footer {
  height: 163px;
  background: #f2f2f2;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
